:root {
    --summit-blue: #4682B4;
    --summit-white: #EEEEEE;
    --background-color: #232323;
}

body {
    background: var(--background-color);
}

.navbar {
    background-color: var(--summit-blue);
    color: #EEEEEE;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 700;
}

a.button {
    text-decoration: none;
    display: inline-block;
}

.page-container {
    margin-top: 75px;
}

#summitLogo {
    height: 3rem;
    width: auto;
}

#summitLogoText {
    font-size: 2rem;
    font-weight: 500;
}

.dropdown-menu {
    left: -128px;
    background-color: var(--summit-white);
    color: var(--background-color);
}

#loginHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 3rem;
    color: var(--summit-white);
    text-align: center;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 700;
    margin: 75px;
}

.loginHeaderSmall {
    display: none;
}

#motto {
    font-size: 1.5rem;
    font-weight: 400;
}

.loginPage{
    background-color: var(--summit-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    min-height: 70vh;
    min-width: 50vw;
    margin: 5vh 25vw 5vh 25vw;
    border-radius: 50px;
    padding: 40px;
}

.loginPage > * {
    margin: 30px;
}

#accountButtons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#accountButtons button {
    font-family: 'Comfortaa', sans-serif;
    color: var(--summit-white);
    font-size: 1rem;
    font-weight: 600;
    border: 3px solid;
    border-color: var(--summit-white);
    border-radius: 40px;
    transition: all 0.4s;
}

#accountButtons button:hover {
    background-color: var(--summit-white);
    color: var(--summit-blue);
}

.form-control {
    font-family: 'Confortaa', sans-serif !important;
    color: var(--summit-white) !important;
}

.form-group label{
    color: white;
    font-family: 'Comfortaa', sans-serif;
    font-size: 1rem;
}

.form-control:active {
    color: var();
}

#topNavbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-grow: 1;
    flex-basis: auto;
    gap: 1em;
}

#bottomNavbar {
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    gap: 10px;
    background-color: var(--summit-blue);
    border-radius: 40px;
    margin: 12px 12px 20px 12px;
    border: 5px solid;
    border-color: var(--summit-blue);
}

/* #topNavbarButtons {
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    justify-content: center;
    flex-basis: auto;
    gap: 25px;
    background-color: var(--summit-white);
    border-radius: 30px;
} */

.navBarTopButton {
    width: 20rem;
    height: 3.5rem;
    border: 3px solid;
    margin: 8px 0;
    border-radius: 30px;
    border-color: var(--summit-white);
    background-color: var(--summit-blue);
    color: var(--summit-white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    transition: all 0.4s;
}

.navBarTopButton:hover {
    background-color: var(--summit-white);
    color: var(--summit-blue);
}

.navBarBottomButton {
    width: 7rem;
    height: 4rem;
    border: none;
    border-radius: 40px;
    background-color: var(--summit-blue);
    color: var(--summit-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-menu-right{
    border-radius: 30px;
}

.navBarIcons:hover {
    color: var(--summit-blue);
}

.page-container {
    display: flex;
}

#todoBlock {
    width: 0.47rem;
    height: auto;
    background-color: var(--summit-blue);
}

.navBarIcons {
    color: var(--summit-white);
    vertical-align: baseline;
}


@media (max-width: 888px) {
    .navBarTopButton {
        display: none;
    }

    #topNavbar {
        justify-content: center;
        background-color: var(--background-color);
        border: none;
    }

    .dropdown-menu {
        left: -65vw;
        width: 90vw;
        margin-top: 50px !important;
        background-color: var(--summit-white);
        color: var(--background-color);
    }

    #bottomNavbar {
        display: flex;
    }

    #loginHeader {
        font-size: 2rem;
        font-weight: 500;
        margin: 50px;
    }
    #motto {
        font-size: 1rem;
        font-weight: 250;
    }
}

@media (min-width: 889px) {
    .navBarBottomButton {
        display: none;
    }
    #bottomNavbar {
        display: none;
    }
}

@media (max-width: 400) {
    #bottomNavbar {
        gap: 5px;
    }
    .navBarBottomButton {
        border-radius: 50px;
        gap: 5px;
    }
}

@media (max-width: 566px) {
    #loginHeader {
        display: none;
    }
    .loginHeaderSmall {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Comfortaa', sans-serif;
        color: var(--summit-white);
        margin: 30px;
        text-align: center;
    }
    .loginPage {
        margin: 30px;
        max-height: 70vh;
    }
    #accountButtons {
        flex-direction: column;
        flex-wrap: wrap;
    }
}

