
/*Website variables and body styling*/
/*-------------------------------------------------------------*/
:root {
    --navbar-purple: #1d1160;
    --summit-blue: #201c61;
    --summit-white: #EEEEEE;
    --background-color: #232323;
    --summit-blue-transparent: #1f1c61a2;
    --summit-blue-transparent-dark: #1f1c61a2;
    --bayern-blue: #0066b2;
}
body {
    font: 400 1rem 'Comfortaa', sans-serif;
    color: var(--summit-white);
    height: 100vh;
    overflow: hidden;
}
/*Navbar Properties*/
/*-------------------------------------------------------------*/
#topNavbar {
    background-color: var(--summit-blue);
    color: var(--summit-white);
    font-weight: 700;
    flex-wrap: nowrap;
    gap: 12px;
}
.navbarButton {
    background-color: transparent;
    width: 25rem;
    height: 3.5rem;
    border: 3px solid var(--summit-white);
    border-radius: 30px;
    color: var(--summit-white);
    margin: 8px 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
}
.navbarButton:hover {
    background-color: var(--summit-white);
    color: var(--summit-blue);
}
.navbarButton:hover i {
    color: var(--summit-blue);
}
.page-container {
    margin-top: 75px;
}
.navbarIcons {
    color: var(--summit-white);
    vertical-align: baseline;
}
#summitLogo {
    height: 3rem;
    width: auto;
}
#summitLogoText {
    font-size: 2rem;
    font-weight: 500;
}
/*Item Element Properties*/
/*-------------------------------------------------------------*/
.itemElement {
    border-radius: 40px;
    border: 3px solid;
    border-color: #160f3d00;
    text-align: center;
    padding: 30px;
    /* background-color: #160F3D; */
    /* background-color: transparent; */
    background-color: var(--neon-purple);
    margin: 20px;
    width: auto;
    height: auto;
    transition: all 0.4s;
    color: var(--summit-white);
    font-family: 'Comfortaa', sans-serif;
}
.itemElement:hover {
    border-color: var(--summit-white);
}
.priorityCheckBox {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    gap: 15px;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
    height: 100%;
}
.checkBox {
    min-width: 70px;
    height: 4vh;
    border-radius: 35px;
    border: 3px solid var(--summit-white);
    background-color: none;
    margin: 15px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    transition: all 0.3s;
}
.checkBox i{
    transition: color 0.4s ease;
}
.checkmark {
    color: transparent;
    font-weight: 600;
    font-size: 40px;
}
.checkBox:hover {
    background-color: var(--summit-white);
    color: var(--summit-blue);
}
.checkBox:hover i {
    color: var(--summit-blue);
}
/*Login Page Properties*/
/*-------------------------------------------------------------*/
.loginPage {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    max-height: 800px;
    max-width: auto;
    border-radius: 50px;
    padding: 40px;
}
.loginHeaderSmall {
    display: none;
}
#loginHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
    margin: 75px;
    margin-bottom: 0;
}
#motto {
    font-size: 1.5rem;
    font-weight: 400;
}
.inputField {
    color: var(--summit-white);
    font-family: 'Comfortaa', sans-serif;
    font-size: 0.5rem;
    font-weight: 300;
    margin: 15px;
    border-bottom: 2px solid;
    border-color: #FFFFFF;
}
.inputField:active input {
    color: white;
}
.form-control {
    color: var(--summit-white) !important;
    text-align: center;
    width: 300px;
}
.loginPage button {
    font-family: 'Comfortaa', sans-serif;
    color: var(--summit-white);
    font-size: 1rem;
    font-weight: 600;
    border: 3px solid;
    background-color: var(--summit-blue-transparent);
    border-color: transparent;
    border-radius: 40px;
    transition: all 0.4s;
}
.loginPage button:hover {
    background-color: var(--summit-white);
    color: var(--summit-blue);
}
/*Home Page Styling*/
/*-------------------------------------------------------------*/
.homePage {
    overflow: hidden;
    height: 85%;
    display: grid;
    grid-template-columns: 45vw 45vw;
    margin: 138px 30px 30px 30px;
    grid-template-rows: auto;
    gap: 50px;
    justify-content: center;
}
.welcomeGrid {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 60% 30%;
    gap: 30px;
    padding: 20px;
}
#welcomeText {
    grid-column: 1 / span 2;
    grid-row: 1;
    background-color: var(--summit-blue-transparent-dark);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
}
#myAccountButton {
    grid-column: 1;
    grid-row: 2;
    background-color: var(--summit-blue-transparent-dark);
    border-radius: 30px;
}
#signOutButton {
    grid-column: 2;
    grid-row: 2;
    background-color: var(--summit-blue-transparent-dark);
    border-radius: 30px;
}
.quoteGrid {
    grid-column: 1;
    grid-row: 2; 
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-self: center;
    margin: 50px;
}
#quote {
    justify-self: center;
    font-weight: 700;
    font-size: 3rem;
    background-color: var(--summit-blue-transparent-dark);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 80px;
}
.overviewGrid {
    grid-column: 2;
    grid-row: 1 / span 2;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto 200px;
    gap: 30px;
    padding: 20px;
    margin-bottom: 50px;
}
#todoGlance {
    background-color: var(--summit-blue-transparent-dark);
    grid-column: 1;
    grid-row: 3;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}
#goalsGlance {
    background-color: var(--summit-blue-transparent-dark);
    grid-column: 2;
    grid-row: 3;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}
#habitsGlance {
    background-color: var(--summit-blue-transparent-dark);
    grid-column: 3;
    grid-row: 3;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}
.pomodoroTimer {
    grid-row: 1 / span 2;
    grid-column: 1 / span 3;
    border-radius: 30px;
    display: grid;
    justify-items: center;
    align-items: center;
    margin-bottom: 50px;
}
.outerRing {
    background-color: var(--summit-blue-transparent-dark);
    border-radius: 50%;
    height: 400px;
    width: 400px;
    grid-row: 1;
    grid-column: 1;
    align-self: center;
    justify-self: center;
    display: grid;
}
.innerCircle {
    background-color: var(--summit-blue-transparent-dark);
    border-radius: 50%;
    height: 375px;
    width: 375px;
    grid-row: 1;
    grid-column: 1;
    display: grid;
    align-self: center;
    justify-self: center;
}
#timer {
    place-self: center;
    font: 800 5rem "Chakra Petch", sans-serif;
}
/*Habits Page Styling*/
/*-------------------------------------------------------------*/
.habitsPage {
    overflow: scroll;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-items: start;
    height: 85%;
    margin: 138px 30px 30px 30px;
}
.habitsPage::-webkit-scrollbar {
    display: none;
}
.habitsPage {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#habitsHeader {
    text-align: center;
    background-color: transparent;
    width: auto;
    height: auto;
    font-size: 2rem;
    font-weight: 800;
    margin: 15px;
    grid-column: 1 / span 2;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#habitsHeader button {
    background-color: var(--summit-blue-transparent);
    font-family: 'Comfortaa', sans-serif;
    width: 10rem;
    height: 3rem;
    border: 3px solid;
    margin: 0 40px;
    border-radius: 30px;
    border-color: transparent;
    color: var(--summit-white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 0.4s;
}
#habitsHeader button:hover {
    color: var(--summit-blue);
    background-color: var(--summit-white);
}
.habitsList {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: nowrap;
    justify-content: center;
}
.habitItemElement {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: transparent;
    align-items: center;
    width: auto;
    flex-shrink: 1;
    text-align: center;
}
.habitItemText {
    border-radius: 40px;
    border: 3px solid;
    border-color: transparent;
    text-align: center;
    padding: 15px;
    /* background-color: #160f3d77; */
    background: var(--summit-blue-transparent);
    margin: 20px;
    width: 100%;
    height: auto;
    transition: all 0.4s;
    color: var(--summit-white);
    font-family: 'Comfortaa', sans-serif;
    transition: all 0.4s;
}
.habitItemText:hover {
    border-color: var(--summit-white);
    background-color: var(--summit-blue);
}
.streakbox {
    color: white;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 700;
    text-shadow: 0 0 5px var(--summit-blue);
    font-size: 2rem;
}
/*Todo Page Properties*/
/*-------------------------------------------------------------*/
.todoPage {
    overflow: scroll;
    height: 85%;
    display: grid;
    grid-template-columns: auto;
    margin: 138px 30px 30px 30px;
    grid-template-rows: auto;
    gap: 20px;
    justify-content: center;
}
.todoPage::-webkit-scrollbar {
    display: none;
}
.todoPage {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#todoHeader {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 30px;
}
#todoHeader button {
    background-color: var(--summit-blue-transparent);
    font-family: 'Comfortaa', sans-serif;
    width: 10rem;
    height: 3rem;
    border: 3px solid;
    margin: 0 40px;
    border-radius: 30px;
    border-color: transparent;
    color: var(--summit-white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 0.4s;
}
.toDoItemElement {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: transparent;
    align-items: center;
    width: auto;
    gap: 5px;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
}
.toDoItemText {
    border-radius: 40px;
    border: 3px solid;
    border-color: transparent;
    text-align: center;
    padding: 10px;
    /* background-color: #160f3d77; */
    background: var(--summit-blue-transparent-dark);
    margin: 20px;
    width: 100%;
    height: auto;
    transition: all 0.4s;
    color: #FFFFFF;
    font-family: 'Comfortaa', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    transition: all 0.4s;
}
.toDoItemText:hover {
    border-color: var(--summit-white);
    background-color: var(--summit-blue);
}
.priorityHigh {
    width: 70px;
    height: 4vh;
    border-radius: 30px;
    border: 3px solid var(--summit-blue-transparent);
    background-color: #fd5c63;
    margin: 15px;
}
.priorityMed{
    width: 70px;
    height: 4vh;
    border-radius: 30px;
    border: 3px solid var(--summit-blue-transparent);
    background-color: #FEBA4F;
    margin: 15px;
}
.priorityLow {
    width: 70px;
    height: 4vh;
    border-radius: 30px;
    border: 3px solid var(--summit-blue-transparent);
    background-color: #00A693;
    margin: 15px;
}
/*Goals Page Properties*/
/*-------------------------------------------------------------*/
.goalsPage {
    overflow: scroll;
    height: 85%;
    display: grid;
    grid-template-columns: auto;
    margin: 138px 30px 30px 30px;
    grid-template-rows: auto;
    gap: 20px;
    justify-content: center;
    gap: 20px;
}
.goalsPage::-webkit-scrollbar {
    display: none;
}
.goalsPage {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#goalsHeader {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    height: max-content;
    flex-shrink: 1;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 30px;
}
#goalsHeader button {
    background-color: var(--summit-blue-transparent);
    font-size: 1.2rem;
    width: 10rem;
    height: 3rem;
    border: 3px solid;
    margin: 0 40px;
    border-radius: 30px;
    border-color: transparent;
    color: var(--summit-white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    transition: all 0.4s;
}
#goalsHeader button:hover {
    background-color: var(--summit-white);
    color: var(--summit-blue);
}
.goalsItemElement {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: transparent;
    align-items: center;
    width: auto;
    gap: 20px;
    flex-shrink: 1;
    text-align: center;
}
.goalsItemText {
    border-radius: 40px;
    border: 3px solid;
    border-color: transparent;
    text-align: center;
    padding: 15px;
    background: var(--summit-blue-transparent);
    width: 100%;
    height: auto;
    transition: all 0.4s;
}
.goalsItemText:hover {
    border-color: var(--summit-white);
    background-color: var(--summit-blue);
}
#goalsPage .checkBox:hover {
    background-color: var(--summit-blue);
}
#goalsPage .checkBox:hover i {
    color: #FFC600;
    transition-delay: 0.1s;
    transition-timing-function: ease-in;
}
.datebox {
    color: var(--summit-white);
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 500;
    text-shadow: 0 0 5px var(--summit-blue);
    font-size: 1.25rem;
}
/*Media Queries*/
/*-------------------------------------------------------------*/
@media (max-width: 950px) {
    #quote {
        font-weight: 500;
        font-size: 2rem;
    }
    .overviewGrid {
       grid-template-rows: auto;
    }
    #todoGlance {
        grid-row: 3;
        grid-column: 1 / span 3;
    }
    #goalsGlance {
        grid-row: 4;
        grid-column: 1 / span 3;
    }
    #habitsGlance {
        grid-row: 5;
        grid-column: 1 / span 3;
    }
    .outerRing {
        width: 300px;
        height: 300px;
    }
    .innerCircle {
        width: 281px;
        height: 281px;
    }
    #timer {
        font: 600 3.75rem;
    }
}
@media (max-width: 750px) {
    #topNavbar {
        height: 60px;
        padding-bottom: 0;
    }
    .navbarButton {
        font-size: 0;
        visibility: hidden;
    }
    .navbarButton i{
        visibility: visible;
    }
    #summitLogoText {
        font-size: 0;
        visibility: hidden;
    }
    #summitLogo {
        visibility: visible;
    }
    .homePage {
        grid-template-columns: 90vw;
        grid-template-rows: auto 100px auto;
        overflow: scroll;
        margin: 60px 0 0 0;
        gap: 0;
        height: 100%;
    }
    .welcomeGrid {
        grid-row: 1;
        grid-column: 1 / span 2;
        gap: 12px;
        padding: 10px;
    }
    .quoteGrid {
        grid-row: 2;
        grid-column: 1 / span 2;
        margin: 0;
        padding: 10px;
        height: 80px;
    }
    #quote {
        padding: 10px;
        font-size: 1rem;
    }
    .overviewGrid {
        grid-row: 3;
        grid-column: 1 / span 2;
        padding: 10px;
        gap: 10px;
        margin-bottom: auto;
    }
    .pomodoroTimer {
        margin: 0;
    }
    #outerRing {
        height: 200px;
        width: 200px;
    }
    #innerCircle {
        height: 187px;
        width: 187px;
    }
    #timer{
        font-size: 2.5rem;
    }
}