:root {
    --navbar-purple: #1d1160;
    --summit-blue: #201c61;
    --summit-white: #EEEEEE;
    --background-color: #232323;
}

body {
    /* background: var(--background-color); */
    background: rgb(17, 17, 17);
    background: linear-gradient(0deg, rgba(17, 17, 17, 1) 25%, rgba(22, 15, 64, 1) 100%);
    height: 100vh;
    overflow: hidden;
}

.navbar {
    background-color: #160F3D;
    color: #EEEEEE;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 700;
}

.page-container {
    margin-top: 75px;
}

#summitLogo {
    height: 3rem;
    width: auto;
}

#summitLogoText {
    font-size: 2rem;
    font-weight: 500;
}

.dropdown-menu {
    left: -128px;
    background-color: var(--summit-white);
    color: var(--background-color);
}

#loginHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 3rem;
    color: var(--summit-white);
    text-align: center;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 700;
    margin: 75px;
    margin-bottom: 0;
}

.loginHeaderSmall {
    display: none;
}

#motto {
    font-size: 1.5rem;
    font-weight: 400;
}

.loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    max-height: 800px;
    height: 100vh;
    max-width: auto;
    border-radius: 50px;
    padding: 40px;
}

.inputField {
    color: var(--summit-white);
    font-family: 'Comfortaa', sans-serif;
    font-size: 0.5rem;
    font-weight: 300;
    margin: 15px;
    border-bottom: 2px solid;
    border-color: var(--summit-white);
}

.inputField:active input {
    color: white;
}

.form-control {
    color: var(--summit-white) !important;
    text-align: center;
    width: 300px;
}

#accountButtons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

#accountButtons button {
    font-family: 'Comfortaa', sans-serif;
    color: var(--summit-white);
    font-size: 1rem;
    font-weight: 600;
    border: 3px solid;
    border-color: var(--summit-white);
    border-radius: 40px;
    transition: all 0.4s;
}

#accountButtons button:hover {
    background-color: var(--summit-white);
    color: var(--summit-blue);
}


#topNavbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-grow: 1;
    flex-basis: auto;
    gap: 1em;
}

#bottomNavbar {
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    gap: 10px;
    background-color: var(--summit-blue);
    border-radius: 40px;
    margin: 12px 12px 20px 12px;
    border: 5px solid;
    border-color: var(--summit-blue);
}

/* #topNavbarButtons {
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    justify-content: center;
    flex-basis: auto;
    gap: 25px;
    background-color: var(--summit-white);
    border-radius: 30px;
} */

.navBarTopButton {
    background-color: #1d116000;
    width: 25rem;
    height: 3.5rem;
    border: 3px solid;
    margin: 8px 0;
    border-radius: 30px;
    border-color: var(--summit-white);
    color: var(--summit-white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    transition: all 0.4s;
}

.navBarTopButton:hover {
    background-color: var(--summit-white);
    color: var(--summit-blue);
}

.navBarTopButton:hover i {
    color: var(--summit-blue);
}

.navBarBottomButton {
    width: 7rem;
    height: 4rem;
    border: none;
    border-radius: 40px;
    background-color: var(--summit-blue);
    color: var(--summit-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-menu-right {
    border-radius: 30px;
}

.navBarIcons {
    color: var(--summit-white);
    vertical-align: baseline;
}

#homePage {
    display: flex;
    font-family: 'Comfortaa', sans-serif;
    text-align: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    color: var(--summit-white);
}

.elementBlockContainerHome {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 1;
    margin: 50px;
    margin-top: 100px;
    height: 90vh;
    
}

.halfElementBlockContainerHome {
    background-color: var(--summit-blue);
    display: flex;
    flex-direction: column;
    margin: 50px 0;
    border-radius: 50px;
    flex-grow: 1;
    height: auto;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.halfElementBlockContainerHome::-webkit-scrollbar {
    display: none;
    scroll-behavior: smooth;
  }

.quarterElementBlockContainerHome {
    background-color: var(--summit-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 50px;
    border-radius: 50px;
    flex-grow: 1;
}

.itemElement {
    border-radius: 40px;
    border: 3px solid;
    border-color: #160f3d00;
    text-align: center;
    padding: 30px;
    background-color: #160F3D;
    margin: 20px;
    width: auto;
    height: auto;
    transition: all 0.4s;
}

.itemElement:hover {
    border-color: var(--summit-white);
}

#welcomeBlock {
    width: auto;
    font-size: 3.3rem;
    font-weight: 900;
    text-align: center;
    margin-left: 50px;
    text-align: left;
}

#todoHeader {
    font-size: 2.5rem;
    font-weight: 750;
}

@media (max-width: 888px) {
    .navBarTopButton {
        display: none;
    }

    #topNavbar {
        justify-content: center;
        border: none;
    }

    .dropdown-menu {
        left: -65vw;
        width: 90vw;
        margin-top: 50px !important;
        background-color: var(--summit-white);
        color: var(--background-color);
    }

    #bottomNavbar {
        display: flex;
    }

    #loginHeader {
        font-size: 2rem;
        font-weight: 500;
        margin: 50px;
    }

    #motto {
        font-size: 1rem;
        font-weight: 250;
    }

    #accountButtons {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .loginPage {
        margin: 75px;
    }
}

@media (min-width: 889px) {
    .navBarBottomButton {
        display: none;
    }

    #bottomNavbar {
        display: none;
    }
}

@media (max-width: 400) {
    #bottomNavbar {
        gap: 5px;
    }

    .navBarBottomButton {
        border-radius: 50px;
        gap: 5px;
    }
}

@media (max-width: 566px) {
    #loginHeader {
        display: none;
    }

    .loginHeaderSmall {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Comfortaa', sans-serif;
        color: var(--summit-white);
        margin: 30px;
        text-align: center;
    }

    .loginPage {
        margin: 30px;
        max-height: auto;
    }

}